EXPO_PUBLIC_API_BASE_URL=
EXPO_PUBLIC_API_PORT=3000
EXPO_PUBLIC_API_PATH=/api/v1
EXPO_PUBLIC_CLIENT_VERSION=1.0
EXPO_PUBLIC_AUTH_PHONE_OTP_ENABLED=false
EXPO_PUBLIC_AUTH_SOCIAL_GOOGLE_ENABLED=false
EXPO_PUBLIC_AUTH_SOCIAL_FACEBOOK_ENABLED=false
EXPO_PUBLIC_AUTH_SOCIAL_APPLE_ENABLED=false
EXPO_PUBLIC_AUTH_MAGIC_LINK_ENABLED=false
EXPO_PUBLIC_AUTH_BIOMETRIC_ENABLED=false
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=
EXPO_PUBLIC_FACEBOOK_CLIENT_ID=
