# Application
NODE_ENV=development
HOST=localhost
PORT=3000
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:19006
API_PREFIX=api
API_VERSION=v1

# Database
MONGO_HOST=cluster0-shard-00-00.uui5d.mongodb.net:27017,cluster0-shard-00-01.uui5d.mongodb.net:27017,cluster0-shard-00-02.uui5d.mongodb.net
MONGO_PORT=27017
MONGO_USER=dicemaster_user
MONGO_PASS=2wLQkmfAn22icOmq
MONGO_DB=matrimony

# Redis
REDIS_HOST=redis-12512.c264.ap-south-1-1.ec2.redns.redis-cloud.com
REDIS_PORT=12512
REDIS_USER=default
REDIS_PASS=TvK4RRnVXRdvcgdkJVagp5X10mMr06zm
REDIS_DB=0

# JWT
JWT_SECRET=123456789abcdef
JWT_EXPIRES_IN=900s