# Application
NODE_ENV=
HOST=
PORT=
ALLOWED_ORIGINS=
API_PREFIX=
API_VERSION=
API_BASE_URL=

# Database config
DB_DRIVER=  # 'mongo' or 'local'
MONGO_URI=
MONGO_RETRY_ATTEMPTS=
MONGO_RETRY_DELAY=
RBAC_SYNC=

# Cache config
CACHE_DRIVER=   # 'redis' or 'local'
# Redis (only needed if CACHE_DRIVER=redis)
REDIS_HOST=
REDIS_PORT=
REDIS_PASS=
REDIS_DB=

# JWT config
JWT_SECRET=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=
JWT_AUDIENCE=
JWT_ISSUER=

# Storage config
STORAGE_DRIVER=     # 'local' or 's3'
# AWS S3 (only needed if STORAGE_DRIVER=s3)
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=
AWS_S3_BASE_URL=
